.title_background{
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.bipolar_background{
    background-image: url(../img/bipolar/tree-g1641eeb61_1920.jpg);
}
.anxiety_background{
    background-image: url(../img/anxiety/anxiety_title.jpg);
}
.title{
    padding-left: 15%;
}
#inspirational_quote{
    font-family: var(--lobster-font-family);
    font-size: 2.8rem;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--dark-color);
}
#helpful_links{
    background-color: var(--dark-color);
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    font-family: var(--inter-font-family);
    padding: 2rem 0 2rem 0;
}
.issue_container{
    flex:  0 0 100%;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
    padding: 1rem;
}
.issue_container_img img{
    max-width: 25rem;
    text-align: center;
    padding: 0 0 0 1rem;
    border-radius: 25px;
}
.issue_container_text{
    width: 50%;
}
.issue_container_text p{
    text-align: center;
}
.anxiety_help_contaner{
    flex: 0 0 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--light-color);
}
.anxiety_symptoms_text ul li{
    padding: .5rem 0 0 0;
}

.anxiety_symptoms_title{
    font-size: 1.5rem;
}
.bipolar_symptom{
    width: 33.33%;
}
#video{
    background-color: var(--dark-color);
}
@media only screen and (max-width: 600px){
    #helpful_links{
        flex-direction: column;
        text-align: center;
    }
    .issue_container_img img{
        display: none;
    }
    .issue_container_text{
        width: 100%;
    }
    .anxiety_help_contaner{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .bipolar_symptom{
        width: 100%;
    }
}
