body{
    color: white;
}
.title_background{
    background-image: url(../img/dep/angel-balashev-REtTwQPjTmE-unsplash\ 3.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.title{
    padding-left: 15%;
}
#info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--light-color);
}
.info_txt{
    font-size: 1.3rem;
    width: 20%;
    text-align: center;
    font-family: var(--lobster-font-family);
}
.info_img img{
    height: 462px;
    width: 100%;
    padding: 2rem 0rem 2rem 0rem;
}
#inspirational_quote{
    font-family: var(--lobster-font-family);
    font-size: 4.8rem;
    display: flex;
    justify-content: center;
    background-color: var(--dark-color);
}

#helplines_section{
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(0deg, rgba(37, 8, 25, 0.3), rgba(37, 8, 25, 0.3)),url(../img/dep/wesley-hilario-h4zmrU0a914-unsplash\ 1.png);
}


#helpful_links{
    display: flex;
    background-color: red;
    font-size: 3.3rem;
    font-family: var(--lobster-font-family);
}
#helpful_links a{
    width: 50%;
}

.videos, .learn_more{
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    border: solid white .5rem;
    padding: 1.6rem;
    height: 314px;
    text-align: center;
    justify-content: center;
}
.videos{
    background-image: linear-gradient(0deg, rgba(37, 8, 25, 0.3), rgba(37, 8, 25, 0.3)),url(../img/image\ 13.png);

}
.learn_more{
    background-image: linear-gradient(0deg, rgba(37, 8, 25, 0.3), rgba(37, 8, 25, 0.3)),url(../img/image\ 11.png);
}

#Find_help{
    background-color: #2D2525;
    font-size: 3.3rem;
    display: flex;
    justify-content: center;
    font-family: var(--lobster-font-family);
    height: 175px;
    align-items: center;
    border-bottom: .5rem solid white;
    border-left: .5rem solid white;
    border-right: .5rem solid white;
    text-align: center;
}


@media only screen and (max-width: 600px){

    #info{
        flex-direction: column;
    }
    .info_txt{
        width: 90%;
        padding-bottom: 2rem;
    }
    #inspirational_quote{
        font-size: 1.8rem;
    }
    .helpline_img{
        display: none;
    }
    .helpline_border{
        border-right: none;
    }
    #helpful_links{
        flex-direction: column;
    }
    #helpful_links a{
        width: 100%;
    }
}
