@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
    padding: 0;
    margin: 0;
    color: white;
}
:root{
    --highlight-txt-color: rgba(0, 255, 209, 1);
    --dark-color: rgba(16, 16, 16, 1);
    --light-color: rgba(25, 25, 25, 1);
    --lobster-font-family: 'Lobster', cursive;
    --shadows-into-light-font-family: 'Shadows Into Light', cursive;
    --inter-font-family: 'Inter', sans-serif;
    --Anton-font-family: 'Anton', sans-serif;
}
.highlight{
    color: var(--highlight-txt-color);
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
.title{
    color: white;
    font-size: 4rem;
    font-family: var(--shadows-into-light-font-family);
}

.site_link a,.site_link, .phone_number{
    color: var( --highlight-txt-color);
}
.site_link, .phone_number{
    display: flex;
    align-items: center;
}

#helplines_section{
    background-color: var(--light-color);
    display: flex;
    /* height: 100%; */
    justify-content: space-evenly;
}

.helpline{
   display: flex;
   width: 50%;
   flex-direction: column;
   text-align: center;
}
.helpline_title{
    height: 10%;
    padding: 1rem;
    font-size: 2rem;
    font-family: var(--inter-font-family);
}
.helpline_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    font-size: 1rem;
    align-items: center;
    font-family: var(--inter-font-family);
}
.helpline_info_txt{
    width: 70%;
}
.helpline_contacts{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}
.helpline_border{
    border-right: solid white .3rem;
}

#helpline_with_img{
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--dark-color);
}
.helpline_img{
    display: flex;
    align-items: center;
}
#helpline_with_img img{
    height: 390px;
    border-radius: 39px;
}
.iconify{
    font-size: 1.2rem;
    padding-right: .3rem;
}

@media only screen and (max-width: 600px){
    #helplines_section{
        flex-direction: column;
        display: flex;
    }
    .helpline{
        width: 100%;
    }
    .helpline_img{
        display: none;
    }
    .helpline_border{
        border-right: none;
    }
    .helpline_title{
        margin-bottom: 1rem;
    }
    .helpline_contacts{
        margin-top: 3rem;
    }
}
